body {
    background-color: #D2E5D0;
}

hr{
    background-color: #D2E5D0;
    border-style: none;
    border-top-style: dotted;
    border-color: #65463E;
    border-width: 4px;
    width: 6%;
}

h1{
    color: black;
}

h3{
    color: red;
}

img{
    height: 200;
    color: black;
    border-radius: 50%;
}

p{
    color: red;
}

a{
    color: blue;
}

